body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #dead7b;;
}

.App {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  font-size: 2em;
  margin-bottom: 30px;
  color: #ec841d;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #da8642;
  border-radius: 4px;
}

.button {
  padding: 10px 20px;
  background-color: #ff8800;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:not(:last-child) {
  margin-right: 10px;
}

.loading {
  color: #888;
  font-style: italic;
}

.error {
  color: red;
}

.location-info {
  background-color: #ff8800;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
}

.location-info h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: white;
}

.location-info p {
  margin: 10px 0;
}

footer p {
  color: #888;
}